<div class="container">
  <div class="row mx-auto mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-8 offset-md-1">
      <% if @model == 'user' %>
        <h4 class="mt-2">ユーザー検索結果 "<%= @content %>"</h4>
        <% if @records.present? %>
          <% if user_signed_in? %>
            <%= render 'public/users/index', users: @records %>
          <% else %>
            <%= render 'admin/users/index', users: @records %>
          <% end %>
        <% else %>
          <p>"<%= @content %>" は見つかりませんでした。</p>
        <% end %>
      <% elsif @model == 'post' %>
        <h4 class="mt-2">レビュー検索結果 "<%= @content %>"</h4>
        <% if @records.present? %>
          <% if user_signed_in? %>
            <%= render 'public/posts/index', posts: @records %>
          <% else %>
            <%= render 'admin/posts/index', posts: @records %>
          <% end %>
        <% else %>
          <p>"<%= @content %>" は見つかりませんでした。</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
