<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-md-2 d-flex align-items-center">
      <%= image_tag @user.get_profile_image, size: "150x150", class: "d-block mx-auto ", style: "border-radius: 50%;" %>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><%= @user.name %>さん</div>
        <div class="card-body bg-success-subtle">
          <div class="card-text"><%= simple_format(@user.introduction) %></div>
          <div class="card-text">レビュー数: <%= @user.posts.count %></div>
          <div class="text-end">
            <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-outline-success btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6 mx-auto">
      <%= render 'admin/posts/index', posts: @posts %>
    </div>
  </div>
</div>